@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;

  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  input[type='text'] {
    height: 2rem;
  }

  .login {
    width: 600px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: 'center';
    align-items: 'center';
    gap: 1rem;

    border: 1px solid gray;
  }

  button {
    height: 3rem;
    font-size: 1.5rem;

    margin-top: 1.5rem;

    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
}
